{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load crispy_forms_tags %}
{% load edc_base_extras %}

{% block extra-scripts %}
{{ block.super }}

<script type="text/javascript">
</script>
{% endblock extra-scripts %}


{% block extra_content%}
	<br>

<div class="panel panel-info">
  <div class="panel-heading">
      <div class="panel-body">
		<h3><b>Summary of Queries</b></h3>
        <hr>
       <!-- end panel_action_buttons -->  
	       		<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Query</th>
					  <th scope="col">Totals</th>
				    </tr>
				  </thead>
				  <tbody>
					{% for query in query_summary %}
				    <tr>
				      <th scope="row">{{ query.0 }}</th>
				      <td>{{ query.1 }}</td>
				    </tr>
					{%  endfor %}
				  </tbody>
				</table>
      </div>
  </div>
</div>
{% endblock extra_content %}


{% block listboard_panel %}
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
	Open issues <span class="float-right badge badge-light round">{{open_action_items}}</span>
	Stalled issues <span class="float-right badge badge-light round">{{stalled_action_items}}</span>
	Resolved issues <span class="float-right badge badge-light round">{{resolved_action_items}}</span>
	Closed issues <span class="float-right badge badge-light round">{{closed_action_items}}</span>
{% endblock listboard_panel %}
{% block listboard_table_button_column %}
{% endblock listboard_table_button_column %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th>Subject Identifier</th>
    <th>Buttons</th>
    <th>Status</th>
    <th>Assigned</th>
    <th>Action Priority</th>
    <th>Ticket number</th>
    <th>Subject</th>
    <th>Ticket Age (days)</th>
    <th>Created Date</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_columns %}
	<td>{{ result.subject_identifier }} </td>
	<td style="white-space: nowrap">
    <div class="btn-group">
    <a title="Edit data action item" role="button" 
       class="btn btn-default btn-sm"
           href="{{ result.href }}">
        <i class="fa fa-pencil-alt fa-sm"></i>
    </a>
	    
     <a id="btn-subject-dashboard-{{result.subject_identifier}}" class="btn btn-primary btn-sm" role="button"   
     title="Go to subject's dashboard" href="{{ result.object.dashboard_url }}">
	      
     <i class="far fa-user-circle fa-sm"></i> Dashboard  <i class="fa fa-share"></i></a>
    </div>
      </td>
	<td>{{ result.status }} </td>
	<td>{{ result.assigned }} </td>
	<td>{{ result.action_priority }} </td>
	<td>{{result.issue_number}}</td>
	<td>{{result.object.snippet}}</td>
	<td>{{result.age}}</td>
    <td nowrap>{{ result.action_date }}</td>
{% endblock listboard_table_columns %}
